<template>
  <div>
    <router-view />
  </div>
</template>

<script>

export default {
  name: "App",
  components: {},
  methods: {
    
  },
};
</script>

<style scoped>
.navbar {
  background-color: #313131;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.651) 0px 5px 15px;
}
.navbar-brand{
  font-weight: bold;
}
</style>