<template>
<div class="container-fluid" style="padding :0">
  <div class="modal editmodal" id="exampleModalCenter" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" >
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle" >Edit Info</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body row">
          <label for="staticEmail" class="col-form-label" >Email</label>
          <input type="email" class="form-control editfield" v-model="formData.email">
          <label for="staticEmail" class="col-form-label " >First Name</label>
          <input type="text" class="form-control  editfield" style="margin-right: 15px" v-model="formData.firstName">
          <label for="staticEmail" class=" col-form-label " >Last Name</label>
          <input type="text" class="form-control editfield"  v-model="formData.lastName">
          <label for="staticEmail" class=" col-form-label " >Username</label>
          <input type="text" class="form-control editfield" style="margin-right: 15px"  v-model="formData.userName">
          <label v-if="(provider_Id !== 'google.com' && provider_Id !== 'facebook.com')" for="staticEmail " class=" col-form-label ">Password</label>
          <input v-if="(provider_Id !== 'google.com' && provider_Id !== 'facebook.com')" type="password" class="form-control editfield" placeholder="password" v-model="formData.password" required>
          <p v-if="formData.password.length>=1 && formData.password.length < 8 " class="col-12" style="font-size:16px; color:white" >password must longer than 8 characters</p>
          <label for="staticEmail" class=" col-form-label " >Gender</label>
          <select class="form-control editfield " style="margin-right: 15px" v-model="formData.gender"> 
            <option disabled value="" selected>Gender</option>
            <option>Female</option>
            <option>Male</option>
            <option>LGBTQ</option>
          </select>
          <label for="staticEmail " class=" col-form-label " >Birth Date</label>
          <input class="form-control col-form-label editfield" type="date" id="example-date-input"
            v-model="formData.dob">
          <label for="staticEmail" >Phone Number</label>
          <input type="tel" class="form-control editfield" placeholder="phone no." v-model="formData.phone">
          <label for="staticEmail" >Image URL</label>
          <input type="tel" class="form-control editfield" placeholder="Image URL" v-model="formData.img">
        </div>

        <div class="modal-footer">
          <button type="button " @click="checkForm()" class="btn btn-danger">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid wrapper">

    <nav class="navbar navbar-expand-md fixed-top navbar-dark">
    
      <i class="material-icons" style="color:white">local_movies</i>
      <a class="navbar-brand" style="margin-left:5px" href="#">MOVI</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  row" id="navbarNavDropdown">
        <ul class="navbar-nav col-lg-8 col-md-8 col-sm-12 ">
          <li class="nav-item" style="margin-left:5%">
            <a class="nav-link" href="/movies">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/recommend">Recommendation </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/help">Q&amp;A</a>
          </li>
        </ul>
        <ul class="navbar-nav col-lg-4 col-md-4 col-sm-12 justify-content-center" style="padding-left:2%">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img :src="`${formData.img}`" class="img-fluid" alt="Responsive image">
              {{formData.userName}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/account">Account</a>
              <a class="dropdown-item" href="/playlist">My Playlist</a>
              <a class="dropdown-item" href="/likelist">Liked Movies</a>
              <a class="dropdown-item" @click="logout()" href="#">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <!-- body -->
    <div class="innerbackgroung col-lg-7 col-md-8 col-sm-10 col-sm-12">
      <h2 class="text-left">MY ACCOUNT</h2>

      <div class="detail row justify-content-center">
        <div class="col-lg-8 line mr-auto"></div>
        <div class="col-12 line2 "></div>
        <div class="col-lg-3 col-md-8 col-sm-8 imgcontainer">
          <img :src="formData.img" class="profileimg" alt="Card image cap">
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12 detailcontainer ">
          <label for="staticEmail" class=" col-form-label ">Username</label>
          <input type="text" readonly class="form-control showinfo" :value="formData.userName">
          <label for="staticEmail" class="col-form-label">Email</label>
          <input type="text" readonly class="form-control showinfo" :value="formData.email">
          <label for="staticEmail" class="col-form-label">First Name</label>
          <input type="text" readonly class="form-control showinfo" :value="formData.firstName">
          <label for="staticEmail" class=" col-form-label">Last Name</label>
          <input type="text" readonly class="form-control showinfo" :value="formData.lastName">
          <label for="staticEmail" class="col-form-label">Phone Number</label>
          <input type="text" readonly class="form-control showinfo" :value="formData.phone">

          <div class="row buttonrow">
            <button type="button" class="btn editbutton btn-danger" data-toggle="modal"
              data-target="#exampleModalCenter">
              <div class="row " style="justify-content: center;">
                <i class="tiny material-icons editicon" style="margin-left:-10px; margin-right:5px">edit</i>
                Edit
              </div>
            </button>
          </div>
          <div class="row blankrow"></div>
        </div>
      </div>
    </div>
  </div>
 

</div>
</template>

<script>
import firebase from 'firebase'
import axios from 'axios'

export default {
  name: 'Account',
  components: {},
  data() {
    return {
      formData: {
        _id: '',
        userName: '',
        email: '',
        password: '',
        firstName: '',
        lastName: '',
        gender: '',
        dob: '',
        phone: '',
        img: ''
      },
      errorMessgae: '',
      succeessMessage: '',
      provider_Id:'',
      user : '',
      currentPassword:'',
      currentEmail:''
    }
  },
  methods: {
    async UpdateAccount() {
      var newAccount = {
        userName: this.formData.userName,
        email: this.formData.email,
        password: this.formData.password,
        firstName: this.formData.firstName,
        lastName: this.formData.lastName,
        gender: this.formData.gender,
        dob: this.formData.dob,
        phone: this.formData.phone
      }
        axios.put('https://movi--api.herokuapp.com/account/update/' + this.formData._id,newAccount)
        .then((response) => {
          console.log(response.data)
          this.status = 'Update account successfully'
          if(this.currentPassword != this.formData.password){
        this.changePassword(this.currentPassword, this.formData.password)
      }
      if(this.currentEmail != this.formData.email){
        this.changeEmail(this.currentPassword, this.formData.email)
      }
          alert(this.status)
        })
        .catch((error) => {
          console.log(error)
        })
    },
    checkForm() {
      this.errors = [];
      if (!this.validEmail(this.formData.email)) this.errors.push('Valid email required.');
      if (this.formData.phone != null && !this.validMobile(this.formData.phone)) this.errors.push('Valid phone required.');
      if (!this.errors.length) {
        this.UpdateAccount();
        $('#exampleModalCenter').modal('hide')
      }
      else alert(this.errors.toString())
     
    },
    validEmail(email) {
      var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
    validMobile(mobile) {
      var re = /[0-9]/;
      return re.test(mobile);
    },
    reauthenticate(currentPassword) {
        var cred = firebase.auth.EmailAuthProvider.credential(
          this.user.email, currentPassword);
        return this.user.reauthenticateWithCredential(cred);
      },
      changePassword(currentPassword, newPassword) {
        this.reauthenticate(currentPassword).then(() => {
          this.user.updatePassword(newPassword).then(() => {
            console.log("Password updated!");
          }).catch((error) => {
            console.log(error);
          });
        }).catch((error) => {
          console.log(error);
        });
      },
      changeEmail(currentPassword, newEmail) {
        this.reauthenticate(currentPassword).then(() => {
          this.user.updateEmail(newEmail).then(() => {
            console.log("Email updated!");
          }).catch((error) => {
            console.log(error);
          });
        }).catch((error) => {
          console.log(error);
        });
      },
      logout() {
      console.log("logout");
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.$router.replace("/signin");
        })
        .catch((error) => {
          alert(error.message);
        });
    }
  },
  async created() {
    this.user = await firebase.auth().currentUser;

    if (this.user) {
      this.provider_Id = this.user.providerData[0].providerId
      console.log(this.user)
    } else {
      this.$router.replace('/signin')
    }

    await axios.get('https://movi--api.herokuapp.com/account/getbyemail/' + this.user.email)
      .then((response) => {
        console.log(response.data)
        this.formData = response.data
        if (this.formData.userName == "") this.formData.userName = this.formData.firstName
        if (this.formData.img == null || this.formData.img == "") this.formData.img = 'https://cdn.discordapp.com/attachments/701032411290402826/842702184079425536/empty-profile-picture-png-2-2.png'
        this.currentPassword = this.formData.password
        this.currentEmail = this.formData.email
        return this.formData
      })
      .catch((error) => {
        console.log(error)
      })
     
  }
}
</script>

<style scoped>

.editfield{
  margin-bottom: 10px;
}
.modal-body{
  padding-left: 8%;
  padding-right: 8%;
}
.blankrow{
  height: 65px;
}
.editbutton{
  width: 100px;
  height: 45px;
  margin-top: 40px;
 
}
.showinfo{
  background-color: rgb(119, 119, 119);
  border-color: transparent;
  color: white;
  
}
.detailcontainer{
  text-align: left;
  padding-left: 8%;
  
}
p{
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.buttonrow{
  justify-content: center;
 margin-right: 0px;
}
.detail{
  margin-top: 4vh;
  margin-left: 8%;
  margin-right: 8%;
}
h2{
font-size:40px;
  margin-top: 15vh;
  margin-left: 8%;
}
.line{
  height: 2px;
  background-color: white;
  margin-left: 20;
  margin-bottom: 30px;
}
.innerbackgroung {
  padding-inline: 40px;
  height: cover;
  width: 450px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgb(0, 0, 0) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.486) 0px 12px 13px,
    rgba(0, 0, 0, 0.473) 0px -3px 5px;
  background-color: #2c2c2c;
}
.navbar {
  background-color: #9e3628;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.651) 0px 5px 15px;
}
.nav2 {
  justify-content: center;
  padding-top: 100px;
}
.navbar-brand{
  font-weight: bold;
}

.img-fluid {
  background-color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
.profileimg{
padding:0px;
border-radius: 5%;
width: 100%;
margin-top: 15px;
}
.imgcontainer{
  padding:0;
  margin-bottom: 20px;
}
.wrapper {
  animation: scroll 100s linear infinite;
  background: url("https://cdn.discordapp.com/attachments/701032411290402826/842479101389307924/df.jpg"),
    #111111;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  background-size: cover;
 
}

@keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 200s linear infinite;
  }
}

@media (min-width: 670px) {
  .title {
    font-size: 5rem;
  }
}
</style>