<template>
      <div class="container-fluid">
      <div id="circle"></div>
       <nav class="navbar navbar-expand-md fixed-top navbar-dark">
    
      <i class="material-icons" style="color:white">local_movies</i>
      <a class="navbar-brand" style="margin-left:5px" href="#">MOVI</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  row" id="navbarNavDropdown">
        <ul class="navbar-nav col-lg-8 col-md-8 col-sm-12 ">
          <li class="nav-item" style="margin-left:5%">
            <a class="nav-link" href="/movies">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="recommend">Recommendation </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/help">Q&amp;A</a>
          </li>
        </ul>
        <ul class="navbar-nav col-lg-4 col-md-4 col-sm-12 justify-content-center" style="padding-left:2%">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img :src="`${formData.img}`" class="img-fluid" alt="Responsive image">
              {{formData.userName}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/account">Account</a>
              <a class="dropdown-item" href="/playlist">My Playlist</a>
              <a class="dropdown-item" href="/likelist">Liked Movies</a>
              <a class="dropdown-item" @click="logout()" href="#">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    

        <div class="row" >
          <div class="col-lg-9 col-md-8 col-sm-8 col-12 container-fluid bg-transparent" id="moviecontainer" style=" margin-top:-10px">
            <div>
            <h1 class="text-left bold" style="color:white padding-top: -10px;">Q&A</h1> 
            </div>
            <div style=" margin-top:4%"></div>
            <h3 class="text-left">What is MOVI?</h3>
            <p class="font-weight-normal text-left">MOVI is a web application for introducing Search and filter
              movies by User interest Because each user has a different favorite movie genre according to
              their tastes. Depending on factors such as mood and season, the user's profile may be screened
              based on their preferences. Interested in collecting information through the user's account and
              filtering by groups of users that are highly effective. Similar interests, movies in the same
              group will be introduced.</p><br>
            <hr class="new"><br>
            <h3 class="text-left">Why should I register on MOVI?</h3>
            <p class="font-weight-normal text-left">Registering on MOVI opens up the ability to enjoy the
              following features:</p>

            <ul class="font-weight-normal text-left">
              <li>Watch hundreds of movies and TV-episodes for free now via MOVI</li>
              <li>Get personalized recommendations and discover new movies and shows you'll love.</li>
              <li>Create your Playlist to track everything you want to watch</li>
              <li>Rate all the movies</li>
              <li>Share a review of your favorite movies and shows with the world's largest community of
                entertainment fans.</li>
            </ul>
            <p class="font-weight-normal text-left">You can easily create an MOVI account via the Registration page
              using your email address or your
              Facebook or Google account</p><br>
            <hr class="new"><br>
            <h3 class="text-left">How do I update my email address?</h3>
            <p class="font-weight-normal text-left">To update your email, please visit <a href="/account" style="color:#9e3628;">the
                 Account page.</a>
              You'll need to be logged into your MOVI account, via
              desktop computer or mobile web browser, to update your email.</p><br>
            <hr class="new"> <br>

            <h3 class="font-weight-bold text-left">What are MOVI ratings?</h3>
            <p class="font-weight-normal text-left">MOVI registered users can cast a vote (from 1 to 10) on
              every released title in the database. Individual votes are then aggregated and summarized as a
              single IMDb rating, visible on the movie detail page. Users can update their votes as often as
              they'd like</p>
          </div>
        </div>
        <!-- Footer -->
<footer class="page-footer font-small cyan darken-3">
  <br><br><br>
  <div class="footer-copyright text-center py-3" style="color:gray;">© 2020 Copyright:
    <a href="/movies" style="color:#9e3628;"> MOVI.com</a>
  </div>
  
</footer>
<!-- Footer -->
</div>
 
      
</template>

<script>
import firebase from "firebase"
import axios from "axios";
export default {
  name: "LikeList",
  data() {
    return {
      formData: {
        _id: '',
        userName: '',
        email: '',
        password: '',
        firstName: '',
        lastName: '',
        gender: '',
        dob: '',
        phone: '',
        img: '',

      },
    };
  },
  created() {
    var user = firebase.auth().currentUser;
    if (user) {
    } else {
      this.$router.replace('/signin')
    }
    axios.get('https://movi--api.herokuapp.com/account/getbyemail/' + user.email)
      .then((response) => {
        console.log(response.data)
        this.formData = response.data 
        if (this.formData.userName == "")this.formData.userName = this.formData.firstName
        if (this.formData.img == null || this.formData.img == "") this.formData.img = 'https://cdn.discordapp.com/attachments/701032411290402826/842702184079425536/empty-profile-picture-png-2-2.png'
      })
      .catch((error) => {
        console.log(error)
      })
    
  },
  methods: {
    logout(){
      console.log("logout");
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.$router.replace("/signin");
        })
        .catch((error) => {
          alert(error.message);
        });
    }
  }
};
</script>

<style scoped>

.container-fluid {
  background-color: #18191d;
  padding-left: 0;
}
.navbar {
  background-color: #9e3628;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.651) 0px 5px 15px;
}
.img-fluid {
  background-color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.nav2 {
  justify-content: center;
  padding-top: 100px;
}
.navbar-brand,h2{
  font-weight: bold;
}
#leftmenu {
  padding-left: 4%;
}
.card {
  margin-top: 30%;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(187, 187, 187, 0.692),
    0 4px 8px rgba(214, 214, 214, 0.514);
  cursor: pointer;
}

.innerrow {
  justify-content: space-around;
}

#moviecontainer {
  padding-right: 0%;
  padding-top: 150px;
}
.input-group {
  width: 80%;
}
#innerleft {
  margin-top: 100px;
  width: 85%;
  background-color: #313131;
  height: 100vh;
  box-shadow: rgb(0, 0, 0) 0px 5px 15px;
}
#circle {
  position: absolute;
  width: 90%;
  height:400px;
  background-color: #9e3628;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  margin-left: -20%;
  margin-top: -200px;
}
.sortbtn {
  width: 100%;
  height: 40px;
  border-color: transparent;
  background-color: transparent;

  font-size: 15px;
}
.sortbtn:hover {
  width: 100%;
  height: 40px;
  background-color: #d91f21;
  border-color: transparent;
}
.sortbtn:focus {
  width: 100%;
  height: 40px;
  background-color: #d91f21;
  border-color: transparent;
}
.btn-group-vertical {
  width: 100%;
}
p,ul{
     color: aliceblue
}
h1.bold{
    color: aliceblue;
    font-weight: 550;
    text-shadow: rgb(0, 0, 0) 0px 5px 15px;
}
h3{
    color: aliceblue;
    font-weight: 550;
    text-shadow: rgb(43, 43, 43) 0px 5px 5px;
}
.red{
   color:  #d91f21;
  font-weight: 450;
}
hr{
  border-top: 1px solid aliceblue;
  box-shadow: rgb(0, 0, 0) 0px 5px 15px;
}
hr.new {
  border-top: 0.5px solid rgb(155, 155, 155);
  box-shadow: rgb(0, 0, 0) 0px 5px 15px;
}


</style>
