<template>
  <div class="container-fluid" >
    <div id="circle"></div>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark">

      <i class="material-icons" style="color:white">local_movies</i>
      <a class="navbar-brand" style="margin-left:5px" href="#">MOVI</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  row" id="navbarNavDropdown">
        <ul class="navbar-nav col-lg-8 col-md-8 col-sm-12 ">
          <li class="nav-item" style="margin-left:5%">
            <a class="nav-link" href="/movies">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="recommend">Recommendation </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/help">Q&amp;A</a>
          </li>
        </ul>
        <ul class="navbar-nav col-lg-4 col-md-4 col-sm-12 justify-content-center" style="padding-left:2%">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <img :src="`${formData.img}`" class="img-fluid" alt="Responsive image">
              {{formData.userName}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/account">Account</a>
              <a class="dropdown-item" href="/playlist">My Playlist</a>
              <a class="dropdown-item" href="/likelist">Liked Movies</a>
              <a class="dropdown-item" @click="logout()" href="#">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div class="row">
      <div class="col-lg-9 col-md-8 col-sm-8 col-12 container-fluid bg-transparent" id="moviecontainer">

        <nav class="bg-transparent nav2">
          <div class="dropdown">
            <h2 class="font-weight-bold text-left" style="margin-top:10px">YOUR FAVORITE MOVIES</h2>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </nav>

        <div v-if="movies.length != 0" class="row innerrow">
          <div class="pic column col-lg-4 col-md-6 col-sm-6 col-6" v-for="movie in movies" :key="movie.id">
            <router-link :to="`/moviedetail/${movie.id}`">
              <div class="card">
                <img class="card-img-top" v-bind:src="
                  'http://image.tmdb.org/t/p/w500/' + movie.poster_path
                " alt="Card image cap" />
              </div>
            </router-link>
          </div>
        </div>
        <div v-else-if="movies.length == 0" class="center bg-transparent" style="height:70vh">
          <p class=" bg-transparent">You haven't added any movies to your list yet.</p>
        </div>
      </div>
    </div>
    <div class="blankrow" >
    </div>
  </div>
</template>
<script>
import firebase from "firebase"
import axios from "axios"

export default {
  name: "LikeList",
  data() {
    return {
      movies: [],
      account_id : "",
      formData: {
        _id: '',
        userName: '',
        email: '',
        password: '',
        firstName: '',
        lastName: '',
        gender: '',
        dob: '',
        phone: '',
        img: '',

      }
    };
  },
  async created() {
    window.onpopstate = function () {
    location.reload()
    }

    var user = firebase.auth().currentUser;
    var movies_id = []
    var account_id = ""
    if (user) {
        console.log(user)
    } else {
        this.$router.replace('/signin')
    }
var user = firebase.auth().currentUser;
    if (user) {
    } else {
      this.$router.replace('/signin')
    }
    await axios.get('https://movi--api.herokuapp.com/account/getbyemail/' + user.email)
      .then((response) => {
        console.log(response.data)
        this.formData = response.data 
        account_id = response.data._id

        if (this.formData.userName == "")this.formData.userName = this.formData.firstName
        if (this.formData.img == null || this.formData.img == "") this.formData.img = 'https://cdn.discordapp.com/attachments/701032411290402826/842702184079425536/empty-profile-picture-png-2-2.png'
     })
      .catch((error) => {
        console.log(error)
      })
      await axios.get("https://movi--api.herokuapp.com/LikeList/get?aid=" + account_id)
            .then((response) => {
                movies_id = response.data.movies_id;
           })
            .catch((err) => {
                console.log(err);
            });
        if (movies_id != null){
          movies_id.forEach(movie_id => {
            axios.get("https://api.themoviedb.org/3/movie/"+movie_id+"?api_key=b6c502901261dc2e049df4d247bd97be&language=en-US")
        .then((response) => {
            this.movies.push(response.data);
            });
        });
        }else{
          this.movies=[]
        }
    
        
    
  },
  methods: {
    logout(){
      console.log("logout");
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.$router.replace("/signin");
        })
        .catch((error) => {
          alert(error.message);
        });
    }
  }
};
</script>

<style scoped>

.blankrow{
height: 100px;
}
.container-fluid {
  background-color: #18191d;
  padding-left: 0;
}
.navbar {
  background-color: #9e3628;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.651) 0px 5px 15px;
}
.img-fluid {
  background-color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.nav2 {
  justify-content: center;
  padding-top: 100px;
}
.navbar-brand,h2{
  font-weight: bold;
}
#leftmenu {
  padding-left: 4%;
}
.card {
  margin-top: 30%;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(187, 187, 187, 0.692),
    0 4px 8px rgba(214, 214, 214, 0.514);
  cursor: pointer;
}
 
.innerrow {
  justify-content: space-around;
}

#moviecontainer {
  padding-right: 0%;
}
.input-group {
  width: 80%;
}
#innerleft {
  margin-top: 100px;
  width: 85%;
  background-color: #313131;
  height: 100vh;
  box-shadow: rgb(0, 0, 0) 0px 5px 15px;
}
#circle {
  position: absolute;
  width: 120%;
  height: 200px; /* as the half of the width */
  background-color: #9e3628;
  border-bottom-left-radius: 50%; /* 100px of height + 10px of border */
  border-bottom-right-radius: 50%; /* 100px of height + 10px of border */
  margin-left: -10%;
}
.sortbtn {
  width: 100%;
  height: 40px;
  border-color: transparent;
  background-color: transparent;

  font-size: 15px;
}
.sortbtn:hover {
  width: 100%;
  height: 40px;
  background-color: #d91f21;
  border-color: transparent;
}
.sortbtn:focus {
  width: 100%;
  height: 40px;
  background-color: #d91f21;
  border-color: transparent;
}
.btn-group-vertical {
  width: 100%;
}
h1 {
  color: aliceblue;
  font-size: 110%;
  padding-top: 40%;
  padding-bottom: 5%;
}
p,h2,ul{
     color: aliceblue
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: #18191d;
}

</style>
