<template>
<div class="container-fluid">
  <div id="circle"></div>
  <nav class="navbar navbar-expand-md fixed-top navbar-dark">
    <i class="material-icons" style="color:white">local_movies</i>
    <a class="navbar-brand" style="margin-left:5px" href="#">MOVI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  row" id="navbarNavDropdown">
      <ul class="navbar-nav col-lg-8 col-md-8 col-sm-12 ">
        <li class="nav-item" style="margin-left:5%">
          <a class="nav-link" href="/movies">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/recommend">Recommendation </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/help">Q&amp;A</a>
        </li>
      </ul>
      <ul class="navbar-nav col-lg-4 col-md-4 col-sm-12 justify-content-center" style="padding-left:2%">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <img :src="`${formData.img}`" class="img-fluid" alt="Responsive image">
            {{formData.userName}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/account">Account</a>
            <a class="dropdown-item" href="/playlist">My Playlist</a>
            <a class="dropdown-item" href="/likelist">Liked Movies</a>
            <a class="dropdown-item" @click="logout()" href="#">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <!-- ============================================================================= -->


  <!-- Modal add to playlist -->
  <div class="modal fade" id="ModalPlaylist" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Choose your playlist</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="overflow-y: scroll; height:500px">
          <!-- All playlist -->
            <div class="row">
              <div v-for="playlist in playlists" :key="playlist._id" class="col-4" >
                <img class="card-img-top" id="playlistImg"  :src="playlist.img" alt="Card image cap" @click="addToPlaylist(playlist._id)" >
                <p class="card-text font-weight-bold" style="color:#18191d; ">{{playlist.name}}</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal Review -->
<div class="modal fade" id="ModalReview" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-dialog" role="document">
      <div class="modal-content"  >
        <div class="modal-header" >
          <h5 class="modal-title" id="exampleModalLongTitle" >Review</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <textarea class="form-control" rows="4" type="text" placeholder="Add a public reviews" 
                v-model="user_review" ></textarea>
            </div>
            <button type="button" class="btn btn-danger" @click="createReview()" > <span
                class="material-icons middle">rate_review</span> Review</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Modal -->
 
 <div class="modal fade" id="myModalVDO" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content" style=" background-color:#18191d; ">
        <div class="modal-body modal-lg">
          <button type="button" @click="stopVDO()" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" style="color:white">&times;</span>
          </button>
          <!-- 16:9 aspect ratio -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" class="embed-responsive-item" :src="`https://www.youtube.com/embed/${video_key}`" id="video"
              frameborder="0" allowscriptaccess="always" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <!-- Modal Edit comment -->
  <div class="modal fade" id="EditCommentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle"  >Edit Review</h5>
          <button type="button" class="close" data-dismiss="modal"  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Write review -->
          <form>
            <div class="form-group">
              <textarea class="form-control" rows="4" type="text" placeholder="Edit a public reviews"
                v-model="edit_comment"></textarea>
            </div>
            <button type="button" class="btn btn-danger" @click="editComment(selectedComment._id)">
              <span class="material-icons middle">rate_review</span> Review</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- =======================end  modal ====================================================== -->

  <div class="row bodycontainer">
    <div class="innercontainer col-lg-10 row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-4 imagecolumn">
        <img class="card-img-top" v-bind:src="'http://image.tmdb.org/t/p/w500/' + movie.poster_path"
          alt="Card image cp">
        <p class="ratetext">Rate : {{movie_review.rate_avg}} </p>
          <div class="row " style="justify-content: center;" >
            <i v-if="movie_review.rate_avg>=2" class="material-icons  starfix" style="color:#ffd000;"> star</i>
            <i v-else class="material-icons  starfix" style="color:white;"> star_border</i>
            <i v-if="movie_review.rate_avg>=4" class="material-icons  starfix" style="color:#ffd000;"> star</i>
            <i v-else class="material-icons  starfix" style="color:white;"> star_border</i>
            <i v-if="movie_review.rate_avg>=6" class="material-icons  starfix" style="color:#ffd000;"> star</i>
            <i v-else class="material-icons  starfix" style="color:white;"> star_border</i>
            <i v-if="movie_review.rate_avg>=8" class="material-icons  starfix" style="color:#ffd000;"> star</i>
            <i v-else class="material-icons  starfix" style="color:white;"> star_border</i>
            <i v-if="movie_review.rate_avg>=10" class="material-icons  starfix" style="color:#ffd000;"> star</i>
            <i v-else class="material-icons  starfix" style="color:white;"> star_border</i>
          </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-5 col-7 detailcolumn">
        <div class="row namerow">
          <h1 class="col-11 movietitle">{{movie.title}}</h1>
          <div class="col-lg-1 col-md-1 col-sm-1 col-1">
            <button v-if="(isSelected == false || isSelected == '')" type="button" style="font-size:24px"
              @click="AddtoLikeList()" class="clearbtn">
              <i class="material-icons heart">favorite_border</i>
            </button>
            <button v-else type="button" style="font-size:24px" @click="DelformLikeList()" class="clearbtn">
              <i class="material-icons heart">favorite</i>
            </button>
          </div>
        </div>
        <p class="graytext">{{release_date}} </p>
        <div class="row genrerow">
          <p class="graytext">Genre : &nbsp;&nbsp;</p>
          <p class="graytext" v-for="genre in movie.genres" :key="genre.id"> {{genre.name}}&nbsp;&nbsp; </p>
        </div>
        <br>
        <p class="overviewtext">{{movie.overview}}</p>
        <br>
        <br>
        <button v-if="(video_key != '')" style="margin-right: 20px;" type="button" class="btn btn-danger" data-toggle="modal"
          data-src="https://www.youtube.com/embed/Jfrjeg26Cwk" data-target="#myModalVDO">
          <span class="material-icons middle">play_arrow</span>
          Watch Trailer
        </button>
        <button style="margin-right: 20px;" type="button" class="btn btn-danger" data-toggle="modal"
          data-target="#ModalReview">
          <span class="material-icons middle">rate_review</span> Review
        </button>
        <i class="material-icons middle " style="color:white ">add_circle</i>
        <a style="color:  aliceblue; text-shadow: 2px 2px #2020209a; font-size: 15px;" data-toggle="modal"
          data-target="#ModalPlaylist" href="#ModalPlaylist" @click="getAllPlaylist()"> Add to your Playlist
        </a>
       
        <div class="row stardiv" >
         <p>Rate this movie&nbsp;&nbsp;: &nbsp;</p>
          <i class="material-icons heart star" id="star1" @click="calRate(2)">star_border</i>
          <i class="material-icons heart star" id="star2" @click="calRate(4)">star_border</i>
          <i class="material-icons heart star" id="star3" @click="calRate(6)">star_border</i>
          <i class="material-icons heart star" id="star4" @click="calRate(8)">star_border</i>
          <i class="material-icons heart star" id="star5" @click="calRate(10)">star_border</i>
        </div>
      </div>


      <h2 class="morelikethis col-12">More like this</h2>
      
      <div class="line col-12"></div>
      <div class="footercontainer col-12 row">
        <p v-if="(similarList.length == 0 )" class="card-text font-weight-normal" style="color:white;">Sorry, No more movies are like this</p>
        <div v-else id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
            <!--First slide-->
            <div class="carousel-item active">
              <div class="row">
                <a class="col-md-3" :href="`/moviedetail/${similarList[0].id}`">
                  <img class="card-img-top "
                    v-bind:src="'http://image.tmdb.org/t/p/w500/' + similarList[0].poster_path " alt="Card image cap">
                </a>
                <a class="col-md-3 clearfix d-none d-md-block" :href="`/moviedetail/${similarList[1].id}`">
                  <img class="card-img-top" v-bind:src="'http://image.tmdb.org/t/p/w500/' + similarList[1].poster_path "
                    alt="Card image cap">
                </a>
                <a class="col-md-3 clearfix d-none d-md-block" :href="`/moviedetail/${similarList[2].id}`">
                  <img class="card-img-top" v-bind:src="'http://image.tmdb.org/t/p/w500/' + similarList[2].poster_path "
                    alt="Card image cap">
                </a>
                <a class="col-md-3 clearfix d-none d-md-block" :href="`/moviedetail/${similarList[3].id}`">
                  <img class="card-img-top" v-bind:src="'http://image.tmdb.org/t/p/w500/' + similarList[3].poster_path "
                    alt="Card image cap">
                </a>
              </div>
            </div>

            <!--Second slide-->
            <div  class="carousel-item">
              <div class="row">
                <a class="col-md-3" :href="`/moviedetail/${similarList[4].id}`">
                  <img class="card-img-top "
                    v-bind:src="'http://image.tmdb.org/t/p/w500/' + similarList[4].poster_path " alt="Card image cap">
                </a>
                <a class="col-md-3 clearfix d-none d-md-block" :href="`/moviedetail/${similarList[5].id}`">
                  <img class="card-img-top" v-bind:src="'http://image.tmdb.org/t/p/w500/' + similarList[5].poster_path "
                    alt="Card image cap">
                </a>
                <a class="col-md-3 clearfix d-none d-md-block" :href="`/moviedetail/${similarList[6].id}`">
                  <img class="card-img-top" v-bind:src="'http://image.tmdb.org/t/p/w500/' + similarList[6].poster_path "
                    alt="Card image cap">
                </a>
                <a class="col-md-3 clearfix d-none d-md-block" :href="`/moviedetail/${similarList[7].id}`">
                  <img class="card-img-top" v-bind:src="'http://image.tmdb.org/t/p/w500/' + similarList[7].poster_path "
                    alt="Card image cap">
                </a>
              </div>
            </div>

            <!--Third slide-->
            <div class="carousel-item">
              <div class="row">
                <a class="col-md-3" :href="`/moviedetail/${similarList[8].id}`">
                  <img class="card-img-top "
                    v-bind:src="'http://image.tmdb.org/t/p/w500/' + similarList[8].poster_path " alt="Card image cap">
                </a>
                <a class="col-md-3 clearfix d-none d-md-block" :href="`/moviedetail/${similarList[9].id}`">
                  <img class="card-img-top" v-bind:src="'http://image.tmdb.org/t/p/w500/' + similarList[9].poster_path "
                    alt="Card image cap">
                </a>
                <a class="col-md-3 clearfix d-none d-md-block" :href="`/moviedetail/${similarList[10].id}`">
                  <img class="card-img-top"
                    v-bind:src="'http://image.tmdb.org/t/p/w500/' + similarList[10].poster_path " alt="Card image cap">
                </a>
                <a class="col-md-3 clearfix d-none d-md-block" :href="`/moviedetail/${similarList[11].id}`">
                  <img class="card-img-top"
                    v-bind:src="'http://image.tmdb.org/t/p/w500/' + similarList[11].poster_path " alt="Card image cap">
                </a>
              </div>
            </div>
            <a class="carousel-control-prev" href="#multi-item-example" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#multi-item-example" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
          </div>
        </div>
      </div>

      <h2 class="morelikethis col-12" >Reviews</h2>
      <div class="line col-12"></div>

      <div class="commentcontainer col-12 ">
        <div v-if="(comments != [''])">
          <div v-for="cm in comments" :key="cm._id" class=" row col-12 eachcomment">
            <div class="col-11" style="margin-bottom: 10px;">
              <div class="commentname" style="color:#b43625" >{{cm.user_name}}</div>
              <div class="commenttime">{{cm.time}}</div>
            </div>

            <div v-if="(cm.user_id == formData._id)" class="col-1 deleteeditIcon row" >
                <i class="material-icons editicon "  data-toggle="modal" data-target="#EditCommentModal" @click="sendInfo(cm)">edit</i>
                <i class="material-icons deleteicon "  @click="delComment(cm._id)">delete</i>
            </div>

            <div class="col-12" >
              <p>{{cm.comment}}  <span></span></p>
            </div>
          </div>
        </div>
        <div v-else-if="movie_review.comments.length == 0" class="eachcomment">
          No Reviews yet
        </div>
    
      </div>
        
    </div>
    <div class="row blankrow"></div>
  </div>
</div>
</template>


<style scoped>
.editicon:hover{
color: lightcoral;
cursor: pointer;
}
.editicon{
color: #b43625
}
.deleteicon{
color: gray;
}
.deleteicon:hover{
  color: aliceblue;
  cursor: pointer;
}
.deleteeditIcon{
justify-items: right;
justify-content: right;
padding: 0;
}
.embed-responsive{
  width: 468px;
}
.modal-body{
  width: 500px;
}
.blankrow{ 
  height: 10vh;
  width: 100%;
  background-color: transparent;
}
.commenttime{
  color: gray;
}
.commentname{
  font-size: 18px;
  font-weight: bold;
}
.eachcomment{
  color: white;
  text-align: left;
  margin-left: 0px;
  margin-right: 30%;
  border-color: rgb(66, 66, 66);
  border-top-width: 1px;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  padding-top: 25px;
  padding-bottom: 15px;
  padding-left: 0;
  border-style: ridge;
}
.commentcontainer{
  margin-left: 0%;
  
}
.morelikethis{
  text-align: left;
  margin-top: 40px;
  color: white;
}
.line{
  height: 1px;
  background-color: gray;
}
.slide{
 height: 100%;
}
.heart{
  color: #d91f21;
}
.heart:hover{
  color: #d91f21;
  cursor: pointer;
}
.footercontainer{
margin-top:30px;
margin-bottom: 40px;
margin-left: 0;
}
.star{
  color: white;
  margin-right: 2px;
}
.star:hover{
  color: #ffd000;
  margin-right: 2px;
}
.card-img-top{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card-img-top:hover{
 box-shadow: rgba(255, 255, 255, 0.616) 0px 3px 6px, rgba(255, 255, 255, 0.575) 0px 3px 6px;
}
#circle {
  position: absolute;
  width: 90%;
  height:400px;
  background-color: #9e3628;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  margin-left: -5%;
  margin-top: -200px;
}
.movietitle{
margin-bottom: 50px;
}
.graytext{
  color: gray;
}
.overviewtext{
  margin-bottom: 20px;
}
.genrerow{
  margin-top:-10px;
  margin-left: 0;
}
.stardiv{
  margin: 0;
  margin-top: 20px;
  justify-content: left;
}
.ratetext{
  color: white;
  font-size: 18px;
  margin-bottom: 5px;
}
.card-img-top{
  width: 80%;
  border-radius: 2%;
  margin-bottom: 20px;
}
.innercontainer{
  padding: 0;
  padding-top: 125px;
}
.bodycontainer{
  justify-content: center;
}
.imagecolumn{
  padding: 0;
  align-content: center;
}
.detailcolumn{
  color: white;
  justify-content: left;
  justify-items: left;
  text-align: left;
  padding: 0;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 18px;
}
</style>

<script>
import firebase from "firebase";
import axios from "axios";
export default {
  name: "search",
  data() {
    return {
      components: {    
    },
      movie_id: this.$route.params.movieId,
      movie: "",
      release_date:"",
      similarList: [],
      movie_review: "",
      comments: "",
      edit_comment:"",
      user_review: "",
      value: "",
      video_key: "",
      formData: {
        _id: '',
        userName: '',
        email: '',
        password: '',
        firstName: '',
        lastName: '',
        gender: '',
        dob: '',
        phone: '',
        img: '',
      },
      playlists: '',
      isSelected: '',
      selectedComment: '',
    };
  },
  async created() {
    window.onpopstate = function () {
    location.reload()
    }
    // GET current User
    var user = firebase.auth().currentUser;
    if (user) {
      console.log(user)
    } else {
      this.$router.replace('/signin')
    }
    await axios.get('https://movi--api.herokuapp.com/account/getbyemail/' + user.email.toString())
      .then((response) => {
        this.formData = response.data
        if (this.formData.userName == "") this.formData.userName = this.formData.firstName
        if (this.formData.img == null || this.formData.img == "") this.formData.img = 'https://cdn.discordapp.com/attachments/701032411290402826/842702184079425536/empty-profile-picture-png-2-2.png'
      // GET Likelist to save state like icon 
    axios.get('https://movi--api.herokuapp.com/LikeList/get?aid=' + this.formData._id)
      .then((response) => {
        console.log()
        var movies_id = response.data.movies_id
        if (movies_id.indexOf(this.movie_id) != -1) {
          return this.isSelected = true
        } else {
          return this.isSelected = false
        }
      })
      .catch((error) => {
        console.log(error) // should have table name of msg Error
      })
      })
      .catch((error) => {
        console.log(error) // should have table name of msg Error
      })
    //GET movie deatil
    axios.get("https://api.themoviedb.org/3/movie/" + this.movie_id + "?api_key=b6c502901261dc2e049df4d247bd97be&language=en-US")
      .then((response) => {
        this.movie = response.data
        this.release_date = movie.release_date.split("-")[0]
        console.log(this.movie)
        return this.movie = response.data;
      });
    //GET movie vdo
    axios.get("https://api.themoviedb.org/3/movie/" + this.movie_id + "/videos?api_key=b6c502901261dc2e049df4d247bd97be&language=en-US")
      .then((response) => {
        this.video_key = ""
        response.data.results.forEach(element => {
          if (element != null) this.video_key = response.data.results[0].key
          else this.video_key = ""
        })
      });
    //GET similar movie 
    axios.get("https://api.themoviedb.org/3/movie/" + this.movie_id + "/recommendations?api_key=b6c502901261dc2e049df4d247bd97be&language=en-US&page=1")
      .then((response) => {
        this.similarList = []
        if( response.data.results.length >= 12 ){
          response.data.results.forEach(element => {
          this.similarList.push(element)
          
        })
        }else this.similarList = []
      });
    // GET comment and rate
    axios.get('https://movi--api.herokuapp.com/movie/getmovie?mid=' + this.movie_id)
      .then((response) => {
        this.comments = []
        this.movie_review = response.data
        if (this.movie_review.comments.length != 0) {
          this.movie_review.comments.forEach(element => {
            this.comments.push(element)
          })
        } else {
          this.comments = []
        }
        return this.movie_review = response.data
      })
      .catch((error) => {
        console.log(error) // should have table name of msg Error
      })

  },
  mounted() {
    
  },
  methods: {
    createReview() {
      var displayName
      if (this.formData.userName == null || this.formData.userName == "") {
        displayName = this.formData.firstName + " " + this.formData.lastName
      } else {
        displayName = this.formData.userName
      }
      let newComment = {
        user_id: this.formData._id,
        user_name: displayName,
        comment: this.user_review
      }
      axios.post('https://movi--api.herokuapp.com/comment/create?mid=' + this.movie_id, newComment)
        .then((response) => {
          console.log(response.data)
          window.location.reload()
        })
        .catch((error) => {
          console.log(error) // should have table name of msg Error
        })
    },
    like(movieId) {
      axios.delete('https://movi--api.herokuapp.com/users/' + UserId)
        .then(() => {
          console.log('Like Movie: ' + movieIdb)
        })
        .catch((error) => {
          console.log(error)
        })
        // window.location.reload()
      },
      getAllPlaylist(){ 
        axios.get('https://movi--api.herokuapp.com/playlist/getall?aid='+this.formData._id)
         .then((response)=>{
           this.playlists = []
             if(response.data != 0){
                this.playlists  = response.data
             }
             else {
               this.playlists = []
             } 
         })
         .catch((error)=>{
             console.log(error) // should have table name of msg Error
         })    
      },
     async addToPlaylist(pl_id){
        let movie ={
          movie_id : this.movie_id
        }
        let img = {
          img : 'http://image.tmdb.org/t/p/w500' + this.movie.poster_path
        }
        await axios.put('https://movi--api.herokuapp.com/playlist/addMovie?aid='+this.formData._id+'&pid='+pl_id,movie)
         .then((response)=>{
           console.log(response.data.message)
           if(response.data.check != -1){
             alert("This movie is already in your playlist")
           }
         })
         .catch((error)=>{
             console.log(error) // should have table name of msg Error
         }) 
         await axios.put('https://movi--api.herokuapp.com/playlist?aid='+this.formData._id+'&pid='+pl_id,img)
         .then((response)=>{
           console.log(response.data.message)
         })
         .catch((error)=>{
             console.log(error) // should have table name of msg Error
         }) 
         window.location.reload()
      },
      AddtoLikeList(){
        let thisMovie = {
          movie_id : [this.movie_id]
        }
          axios.put('https://movi--api.herokuapp.com/LikeList/addMovie?aid='+this.formData._id,thisMovie)
         .then((response)=>{
           console.log(response.data)
           return this.isSelected = true
         })
         .catch((error)=>{
             console.log(error) // should have table name of msg Error
         })
      },
      DelformLikeList(){
        let thisMovie = {
          movie_id : this.movie_id
        }
        console.log(thisMovie)
        axios.delete('https://movi--api.herokuapp.com/LikeList/delMovie?aid='+this.formData._id,{ data: thisMovie })
         .then((response)=>{
           console.log(response.data)
           return this.isSelected = false
         })
         .catch((error)=>{
             console.log(error) // should have table name of msg Error
         })
      },
      calRate(star){
        let newRate = {
          value : star
        }
        
        if(star==10){
          document.getElementById("star1").innerHTML = "star";
          document.getElementById("star2").innerHTML = "star";
          document.getElementById("star3").innerHTML = "star";
          document.getElementById("star4").innerHTML = "star";
          document.getElementById("star5").innerHTML = "star";
          document.getElementById("star1").style.color = "#ffd000";   
          document.getElementById("star2").style.color = "#ffd000";  
          document.getElementById("star3").style.color = "#ffd000";   
          document.getElementById("star4").style.color = "#ffd000"; 
          document.getElementById("star5").style.color = "#ffd000";   
          
        }else if(star==8){
          document.getElementById("star1").innerHTML = "star";
          document.getElementById("star2").innerHTML = "star";
          document.getElementById("star3").innerHTML = "star";
          document.getElementById("star4").innerHTML = "star";
          document.getElementById("star5").innerHTML = "star_border";
          document.getElementById("star1").style.color = "#ffd000";   
          document.getElementById("star2").style.color = "#ffd000";  
          document.getElementById("star3").style.color = "#ffd000";   
          document.getElementById("star4").style.color = "#ffd000";
          document.getElementById("star5").style.color = "white"; 
        }else if(star==6){
          document.getElementById("star1").innerHTML = "star";
          document.getElementById("star2").innerHTML = "star";
          document.getElementById("star3").innerHTML = "star";
          document.getElementById("star4").innerHTML = "star_border";
          document.getElementById("star5").innerHTML = "star_border";
          document.getElementById("star1").style.color = "#ffd000";   
          document.getElementById("star2").style.color = "#ffd000";  
          document.getElementById("star3").style.color = "#ffd000";   
          document.getElementById("star4").style.color = "white";
          document.getElementById("star5").style.color = "white"; 
        }else if(star==4){
          document.getElementById("star1").innerHTML = "star";
          document.getElementById("star2").innerHTML = "star";
          document.getElementById("star3").innerHTML = "star_border";
          document.getElementById("star4").innerHTML = "star_border";
          document.getElementById("star5").innerHTML = "star_border";
           document.getElementById("star1").style.color = "#ffd000";   
          document.getElementById("star2").style.color = "#ffd000";  
          document.getElementById("star3").style.color = "white";   
          document.getElementById("star4").style.color = "white";
          document.getElementById("star5").style.color = "white"; 
        }else{
          document.getElementById("star1").innerHTML = "star";
          document.getElementById("star2").innerHTML = "star_border";
          document.getElementById("star3").innerHTML = "star_border";
          document.getElementById("star4").innerHTML = "star_border";
          document.getElementById("star5").innerHTML = "star_border";
           document.getElementById("star1").style.color = "#ffd000";   
          document.getElementById("star2").style.color = "white";  
          document.getElementById("star3").style.color = "white";   
          document.getElementById("star4").style.color = "white";
          document.getElementById("star5").style.color = "white"; 
        } 
        axios.put('https://movi--api.herokuapp.com/movie/calrate?mid='+this.movie_id,newRate)
         .then((response)=>{
           console.log(response.data)
           this.$router.go(this.$router.currentRoute)
         })
         .catch((error)=>{
             console.log(error) // should have table name of msg Error
         })
      },
  
    editComment(cm_id) {
      var displayName
      if (this.formData.userName == null || this.formData.userName == "") {
        displayName = this.formData.firstName + " " + this.formData.lastName
      } else {
        displayName = this.formData.userName
      }
      let newComment = {
        user_id: this.formData._id,
        user_name: displayName,
        comment: this.edit_comment
      }
      axios.put('https://movi--api.herokuapp.com/comment?cid=' + cm_id + '&aid=' + this.formData._id + '&mid=' + this.movie_id, newComment)
        .then((response) => {
          console.log(response.data)
          window.location.reload()
        })
        .catch((error) => {
          console.log(error) // should have table name of msg Error
        })
    },
    delComment(cm_id) {
      axios.delete('https://movi--api.herokuapp.com/comment?cid=' + cm_id + '&aid=' + this.formData._id + '&mid=' + this.movie_id)
        .then((response) => {
          console.log(response.data)
          window.location.reload()
        })
        .catch((error) => {
          console.log(error) // should have table name of msg Error
        })
    },
    sendInfo(item) {
      this.selectedComment = item;
      this.edit_comment = this.selectedComment.comment
    },
    stopVDO(){
      $("#myModalVDO").on('hidden.bs.modal', function (e) {
      $("#myModalVDO iframe").attr("src", $("#myModalVDO iframe").attr("src"));
        });
    },
    logout() {
      console.log("logout");
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.$router.replace("/signin");
        })
        .catch((error) => {
          alert(error.message);
        });
    }
  
  },
};
</script>

<style scoped>
.img-fluid {
  background-color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
.middle {
  vertical-align: middle;
}
.container-fluid {
  background-color: #18191d;
  padding-left: 0;
  
}
.navbar {
  background-color: #9e3628;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.651) 0px 5px 15px;
}
.nav2 {
  justify-content: center;
  padding-top: 120px;
}
.navbar-brand {
  font-weight: bold;
}
#leftmenu {
  padding-left: 4%;
}
.profilepic{
  width: 100px;
  height: 100px;
  display: flex;
  margin-left: 20%;
  /* justify-content: center;
  vertical-align: middle; */
}
.input-group {
  width: 80%;
}
.sortbtn {
  width: 100%;
  height: 40px;
  border-color: transparent;
  background-color: transparent;
  font-size: 15px;
}
.sortbtn:hover {
  width: 100%;
  height: 40px;
  background-color: #d91f21;
  border-color: transparent;
}
.sortbtn:focus {
  width: 100%;
  height: 40px;
  background-color: #d91f21;
  border-color: transparent;
}
.btn-group-vertical {
  width: 100%;
}
.button {
  font-family: 'Spartan', sans-serif;
  background-color: #c90101 ; 
  border: none;
  color: white;
  border-radius: 50px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  /* margin: 4px 2px; */
  cursor: pointer;
}
.button:hover {
  background-color: rgb(153, 16, 16);
  /* background-color:  rgb(97, 11, 11);  */
}
.clearbtn {
    border: none;
    background-color: transparent;
    outline: none;
}
.clearbtn:focus {
    border: none;
}
#playlistImg{
    width: 100%;
    height: 10vw;
    margin-bottom: 5%;
    object-fit: cover;
    box-shadow: rgba(255, 255, 255, 0.616) 0px 3px 6px, rgba(255, 255, 255, 0.575) 0px 3px 6px;
}
#playlistImg:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 13.5px 11px, rgba(0, 0, 0, 0.12) 0px -6px 15px, rgba(0, 0, 0, 0.12) 0px 2px 3px, rgba(0, 0, 0, 0.17) 0px 6px 6.5px, rgba(0, 0, 0, 0.09) 0px -1.5px 2.5px;
}
</style>