<template>

  <div class="container-fluid">
    <div id="circle"></div>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark">
    
      <i class="material-icons" style="color:white">local_movies</i>
      <a class="navbar-brand" style="margin-left:5px" href="#">MOVI</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  row" id="navbarNavDropdown">
        <ul class="navbar-nav col-lg-8 col-md-8 col-sm-12 ">
          <li class="nav-item" style="margin-left:5%">
            <a class="nav-link" href="/movies">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/recommend">Recommendation </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/help">Q&amp;A</a>
          </li>
        </ul>
        <ul class="navbar-nav col-lg-4 col-md-4 col-sm-12 justify-content-center" style="padding-left:2%">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img :src="`${formData.img}`" class="img-fluid" alt="Responsive image">
              {{formData.userName}} 
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/account">Account</a>
              <a class="dropdown-item" href="/playlist">My Playlist</a>
              <a class="dropdown-item" href="/likelist">Liked Movies</a>
              <a class="dropdown-item" @click="logout()" href="#">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div v-if="isLoading">
              <div class="spinner-border text-light" role="status">
                <span class="sr-only">Loading...</span>
        </div>
        </div>
    <div v-else class="row">
      <div class="col-lg-3 col-md-4 col-sm-4 col-0" id="leftmenu">
        <div id="innerleft">
          <h1>Find Your Movie</h1>
          <div class="btn-group-vertical" role="group" aria-label="First group">
            <button type="button" class="btn btn-secondary sortbtn" @click="searchType('popular')">
              Popular
            </button>
            <button type="button" class="btn btn-secondary sortbtn" @click="searchType('now_playing')">
              Now Playing
            </button>
            <button type="button" class="btn btn-secondary sortbtn" @click="searchType('upcoming')">
              Upcoming
            </button>
          </div>
          <h1>Find by Genre</h1>
          <div class="btn-group-vertical" role="group" aria-label="First group">
            <button type="button" class="btn btn-secondary sortbtn" @click="searchGenre(28)">
              Action
            </button>
            <button type="button" class="btn btn-secondary sortbtn" @click="searchGenre(35)">
              Comedy
            </button>
            <button type="button" class="btn btn-secondary sortbtn" @click="searchGenre(18)">
              Drama
            </button>
            <button type="button" class="btn btn-secondary sortbtn" @click="searchGenre(14)">
              Fantasy
            </button>
            <button type="button" class="btn btn-secondary sortbtn" @click="searchGenre(27)">
              Horror
            </button>
            <button type="button" class="btn btn-secondary sortbtn" @click="searchGenre(10749)">
              Romance
            </button>
            <button type="button" class="btn btn-secondary sortbtn" @click="searchGenre(878)">
              Sci-fi
            </button>
            <button type="button" class="btn btn-secondary sortbtn" @click="searchGenre(53)">
              Thriller
            </button>
          </div>
        </div>
      </div>

      <div class="col-lg-9 col-md-8 col-sm-8 col-12 container-fluid bg-transparent " id="moviecontainer">
        <nav class="bg-transparent nav2 ">
          <form class="form-inline justify-content-center" @submit.prevent >
            <input class="form-control mr-sm-2" type="text" placeholder="Search" v-model="query" @keyup.enter="getResult()" />
            <button type="button" class="btn btn-secondary btn-dark" @click="getResult()">
              Search
            </button>
          </form>
        </nav>
        <div class="row innerrow">
          <div class="row col-12">
            <h2>All Movies</h2>
          </div>
          <div class="pic column col-lg-4 col-md-6 col-sm-6 col-6" v-for="movie in movies" :key="movie.id">
            <router-link :to="`/moviedetail/${movie.id}`">
            <div class="card">
              <img class="card-img-top" v-bind:src="'http://image.tmdb.org/t/p/w500/' + movie.poster_path "
                alt="Card image cap" />
            </div>
            </router-link>
          </div>
        </div>
        <div style="margin-bottom: 20px">
        </div>
        <a class="btn btn-primary btn-dark" href="#circle" style="margin-bottom: 5%; margin-right: 10px;"
          role="Back to First Movie">Back to First Movie</a>
        <button type="button" class="btn btn-danger" @click="seemore()">See More</button>
      </div>
    </div>
  </div>
</template>


<script>
import firebase from "firebase";
import axios from "axios";
export default {
  name: "search",
  data() {
    return {
      query: "",
      movies: "",
      currentPage: "",
      isSeeMore: false,
      page: 1,
      formData: {
        _id: '',
        userName: '',
        email: '',
        password: '',
        firstName: '',
        lastName: '',
        gender: '',
        dob: '',
        phone: '',
        img: '',
      },
      isLoading : true
    };
  },
  async created() {
    window.onpopstate = function () {
    location.reload()
    }

    var user = firebase.auth().currentUser;
    if (user) {
    } else {
      this.$router.replace('/signin')
    }
    await axios.get('https://movi--api.herokuapp.com/account/getbyemail/' + user.email)
      .then((response) => {
        console.log(response.data)
        this.formData = response.data 
        this.isLoading = false
        if (this.formData.userName == "")this.formData.userName = this.formData.firstName
        if (this.formData.img == null || this.formData.img == "") this.formData.img = 'https://cdn.discordapp.com/attachments/701032411290402826/842702184079425536/empty-profile-picture-png-2-2.png'
      })
      .catch((error) => {
        console.log(error)
      })
    this.currentPage = "popular"
    this.searchType(this.currentPage)
  },
  mounted(){
    window.onpopstate = function () {
    location.reload()
    }
  },
  methods: {
    logout() {
      console.log("logout");
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.$router.replace("/signin");
        })
        .catch((error) => {
          alert(error.message);
        });
    },
    seemore() {
      this.page += 1
      this.isSeeMore = true
      if (this.currentPage == "now_playing" || this.currentPage == "popular" || this.currentPage == "upcoming") {
        this.searchType(this.currentPage)
      } else if (typeof (this.currentPage) == "number") {
        this.searchGenre(this.currentPage)
      } else {
        this.getResult(this.currentPage)
      }
    },
    getResult() {
      if (this.query != null) {
        if (this.currentPage != "queryByName") this.currentPage = "queryByName"
        if (this.isSeeMore == false) this.page = 1
        axios
          .get("https://api.themoviedb.org/3/search/movie?api_key=b6c502901261dc2e049df4d247bd97be&query=" + this.query + "&page=" + this.page)
          .then((response) => {
            if (this.isSeeMore == false) {
              this.movies = []
              response.data.results.forEach(element => {
                if (element.poster_path != null) this.movies.push(element)
              });
            } else {
              response.data.results.forEach(element => {
                if (element.poster_path != null) this.movies.push(element)
              });
              this.isSeeMore = false
            }
          });
      }
    },
    searchGenre(genreid) {
      if (this.currentPage != genreid) this.currentPage = genreid
      if (this.isSeeMore == false) {
        this.page = 1
      }
      axios
        .get("https://api.themoviedb.org/3/discover/movie?api_key=b6c502901261dc2e049df4d247bd97be&with_genres=" + this.currentPage + "&page=" + this.page)
        .then((response) => {
          if (this.isSeeMore == false) {
            this.movies = []
            response.data.results.forEach(element => {
              if (element.poster_path != null) this.movies.push(element)
            });
          } else {
            response.data.results.forEach(element => {
              if (element.poster_path != null) this.movies.push(element)
            });
            this.isSeeMore = false
          }
        });
    },
    searchType(type) {
      if (this.currentPage != type) this.currentPage = type
      if (this.isSeeMore == false) {
        this.page = 1
      }
      axios
        .get("https://api.themoviedb.org/3/movie/" + this.currentPage + "?api_key=b6c502901261dc2e049df4d247bd97be&language=en-US&page=" + this.page)
        .then((response) => {
          if (this.isSeeMore == false) {
            this.movies = []
            response.data.results.forEach(element => {
              if (element.poster_path != null) this.movies.push(element)
            });
          } else {
            response.data.results.forEach(element => {
              if (element.poster_path != null) this.movies.push(element)
            });
            this.isSeeMore = false
          }
        });
    },
  },
};
</script>

<style scoped>
.container-fluid {
  background-color: #18191d;
  padding-left: 0;
 
}

.navbar {
  background-color: #9e3628;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.651) 0px 5px 15px;
}

.nav2 {
  justify-content: center;
  padding-top: 120px;
}

.navbar-brand {
  font-weight: bold;
}

#leftmenu {
  padding-left: 4%;
}

.card {
  margin-bottom: 30%;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(187, 187, 187, 0.692),
    0 4px 8px rgba(214, 214, 214, 0.514);
  cursor: pointer;
}

.innerrow {
  justify-content: space-around;
}

#moviecontainer {
  padding-right: 8%;
}

.input-group {
  width: 80%;
}

#innerleft {
  margin-top: 120px;
  width: 85%;
  background-color: #313131;
  height: 100vh;
  box-shadow: rgb(0, 0, 0) 0px 5px 15px;
}

#circle {

  position: fixed;
  width: 120%;
  height: 200px;
  background-color: #9e3628;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  margin-left: -10%;
}

.sortbtn {
  width: 100%;
  height: 40px;
  border-color: transparent;
  background-color: transparent;

  font-size: 15px;
}

.img-fluid {
  background-color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.sortbtn:hover {
  width: 100%;
  height: 40px;
  background-color: #d91f21;
  border-color: transparent;
}

.sortbtn:focus {
  width: 100%;
  height: 40px;
  background-color: #d91f21;
  border-color: transparent;
}

.btn-group-vertical {
  width: 100%;
}

h1 {
  color: aliceblue;
  font-size: 110%;
  padding-top: 30%;
  padding-bottom: 5%;
}

h2 {
  color: aliceblue;
  font-size: 180%;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 20px;
}

.form-control {
  width: 50%;
}

.btn-danger {
  margin-bottom: 5%;
  margin-right: 10px;
  background-color: #dd4b39 !important;
}
</style>
