<template>
  <div class="container-fluid">
  <div id="circle"></div>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark">
      <i class="material-icons" style="color:white">local_movies</i>
      <a class="navbar-brand" style="margin-left:5px" href="#">MOVI</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  row" id="navbarNavDropdown">
        <ul class="navbar-nav col-lg-8 col-md-8 col-sm-12 ">
          <li class="nav-item" style="margin-left:5%">
            <a class="nav-link" href="/movies">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/recommend">Recommendation </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/help">Q&amp;A</a>
          </li>
        </ul>
        <ul class="navbar-nav col-lg-4 col-md-4 col-sm-12 justify-content-center" style="padding-left:2%">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <img :src="`${formData.img}`" class="img-fluid" alt="Responsive image">
              {{formData.userName}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/account">Account</a>
              <a class="dropdown-item" href="/playlist">My Playlist</a>
              <a class="dropdown-item" href="/likelist">Liked Movies</a>
              <a class="dropdown-item" @click="logout()" href="#">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>


    <div class="row" >
      <div class="col-lg-9 col-md-10 col-sm-10 col-12 container-fluid bg-transparent" id="moviecontainer" >
        <div class=" head row " >
          <p>{{playlist_detail.name}}</p>
        <div> 
          <i class="material-icons editicon" style="padding-top:20px;margin-right:20px;" data-toggle="modal"
            data-target="#EditPlaylistModal" >edit</i> 
          <i class="material-icons deleteicon" style="padding-top:20px;margin-top:0px;margin-right:20px;" data-toggle="modal" data-target="#confirmDelete" >delete</i>
        </div>
        </div>
        <p class="col-12 smallheader" style="text-size:20px; padding-left:0; margin-bottom:0; margin-top:20px"> Lastest update : {{playlist_detail.lastestUpdate}} </p>
        <p class="col-12 smallheader" style="padding-left:0; margin-bottom:20px; ">{{playlist_detail.num}} movies</p>
        <p class="col-10" style="text-align:left; padding-left:0; color:white; font-size:20px"> {{playlist_detail.desc}}
        </p>
      </div>   
    </div>
    
  <div class="row" >
    <div class="col-lg-9 col-md-10 col-sm-10 col-12 container-fluid"  >
      <h2 class="morelikethis col-lg-9 col-md-10 col-sm-10 col-12 "  style="color:white; ">Movies</h2>
      <div class="line col-12"></div>
        <div v-if="(movielist.length != 0)" class="row">
          <div v-for="movie in movielist" :key="movie.id" class="col-lg-4 col-md-6 col-sm-6 col-6">
            <i class="material-icons deleteicon" data-toggle="modal"
            data-target="#confirmDeleteMovie" @click="currentMovie=movie.id">delete</i>
            <router-link :to="`/moviedetail/${movie.id}`">
              <div class="card">
                <img class="card-img-top" v-bind:src="'http://image.tmdb.org/t/p/w500/' + movie.poster_path "
                  alt="Card image cap" />
              </div>
            </router-link>
          </div>
        </div>
        <div class="row norow" v-else-if="(movielist.length == 0)" >
          No movie in playlist
        </div>
   
    </div>


    <!-- Modal edit -->
    <div class="modal fade" id="EditPlaylistModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" >
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle" style="text-weight:bold">Edit Playlist</h5>
            <button type="button" class="close" data-dismiss="modal"  aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div>
                <label >Playlist Name </label>
                <input type="text" class="form-control inputdesc" placeholder="Playlist Name" v-model="newPlaylist_name"
                  required>
              </div>   
              <div>
                <label>Description </label>
                <textarea class="form-control inputdesc" rows="4" type="text" placeholder="Add a description"
                  v-model="newPlaylist_desc"></textarea>
              </div>
              <div class="modal-footer">
                <button class="btn btn-danger my-2 my-sm-0" type="submit" @click="Updateplaylist()">
                Submit
              </button>
              </div>
             
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Confirm-->
    <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" >
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle" style="font-weight:bold">Delete Playlist</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                <p>Are you sure to delete this playlist?</p>
          </div>
          <div class="modal-footer">
              <button class="btn btn-danger my-2 my-sm-0" type="submit" @click="delPlaylist()">
                Delete
              </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Confirm delete movie-->
    <div class="modal fade" id="confirmDeleteMovie" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" >
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle" style="font-weight:bold">Delete Playlist</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                <p>Are you sure to delete this movie?</p>
          </div>
          <div class="modal-footer">
              <button class="btn btn-danger my-2 my-sm-0" type="submit" @click=" delFormPlaylist(currentMovie)">
                Delete
              </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" foot"></div>
  </div>
</template>
<script>
import firebase from "firebase";
import axios from "axios";
export default {
  name: "search",
  data() {
    return {
      playlist_id:this.$route.params.playlistId,
      tempname:"",
      movielist: "",
      currentMovie:"",
      playlist_detail:"",
       formData: {
          _id: '',
          userName: '',
          email: '',
          password: '',
          firstName: '',
          lastName: '',
          gender: '',
          dob: '',
          phone: '',
          img: '',
        },
        newPlaylist_name:'',
        newPlaylist_desc:'',
    };
    },
  async created() {
    // GET current User
   var user = firebase.auth().currentUser;
        if (user) {
            console.log(user)
        } else {
            this.$router.replace('/signin')
        }
        await axios.get('https://movi--api.herokuapp.com/account/getbyemail/'+user.email)
         .then((response)=>{
             console.log(response.data)
             this.formData = response.data 
             if (this.formData.userName == "")this.formData.userName = this.formData.firstName
              if (this.formData.img == null || this.formData.img == "") this.formData.img = 'https://cdn.discordapp.com/attachments/701032411290402826/842702184079425536/empty-profile-picture-png-2-2.png'
             return this.formData
         })
         .catch((error)=>{
             console.log(error) // should have table name of msg Error
         })
    //GET playlist by id
    await axios.get("https://movi--api.herokuapp.com/playlist?aid=" + this.formData._id + "&pid=" + this.playlist_id)
        .then((response) => {
            this.movielist = []
                this.playlist_detail = response.data
                this.newPlaylist_name = response.data.name
                this.newPlaylist_desc = response.data.desc
                if (response.data.list == null || response.data.list == []) this.movielist = []
                else {
                    //GET movie deatil
                    response.data.list.forEach(element => {
                        axios.get("https://api.themoviedb.org/3/movie/" + element + "?api_key=b6c502901261dc2e049df4d247bd97be&language=en-US")
                        .then((response) => {
                            this.movielist.push(response.data)
                        });
                    })
                    console.log(this.movielist)
                }
            });
  },
  mounted(){
  
  },
  methods: {
      Updateplaylist(){
          let playlistUpdate ={
              name : this.newPlaylist_name,
              desc : this.newPlaylist_desc
          }
          axios.put('https://movi--api.herokuapp.com/playlist?aid='+this.formData._id+'&pid='+this.playlist_id,playlistUpdate)
         .then((response)=>{
           console.log(response.data.message)
         })
         .catch((error)=>{
             console.log(error) // should have table name of msg Error
         }) 
          window.location.reload() 
      },
      delFormPlaylist(movie_id){
        let movie ={
          movie_id : movie_id
        }
        axios.delete('https://movi--api.herokuapp.com/playlist/delMovie?aid='+this.formData._id+'&pid='+this.playlist_id,{data:movie})
         .then((response)=>{
           console.log(response.data.message)
         })
         .catch((error)=>{
             console.log(error) // should have table name of msg Error
         })
         window.location.reload() 
      },
      logout() {
      console.log("logout");
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.$router.replace("/signin");
        })
        .catch((error) => {
          alert(error.message);
        });
    },
    delPlaylist(){
      axios.delete('https://movi--api.herokuapp.com/playlist?aid='+this.formData._id+'&pid='+this.playlist_id)
         .then((response)=>{
           console.log(response.data.message)
           $('#confirmDelete').modal('hide')
           this.$router.replace("/playlist");
         })
         .catch((error)=>{
             console.log(error) // should have table name of msg Error
         }) 
    }
  
  },
};
</script>

<style scoped>
.norow{
  color: white;
  margin-top: 50px;
  justify-content: center;
  padding-bottom: 157px;
}
.inputdesc{
  margin-bottom: 20px;
}
.modal-footer{
  justify-content: center;
}
.modal-body{
  text-align: left;
}
.editicon:hover{
  color: #d46354;
  cursor: pointer;
}
.editicon{
  color: #a52d1d;
  cursor: pointer;
}
#circle {
  position: absolute;
  width: 90%;
  height:400px;
  background-color: #9e3628;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  margin-left: -5%;
  margin-top: -200px;
}
.smallheader{
  text-align: left;
  color: #727272;
}
.head{
 justify-content: space-between;
  margin: 0%;
  width: 100%;
  padding-top:20px;
  margin-right:0 ;
  color: white;
  font-size: 40px;
  font-weight: bold;
  
}
.blankrow{ 
  height: 15vh;
  width: 100%;
  background-color: transparent;
}
.morelikethis{
  text-align: left;
  margin-top: 60px;
  color: white;
  padding-left: 0;
}
.middle {
  vertical-align: middle;
}
.container-fluid {
  background-color: #18191d;
  padding-left: 0;
}
.navbar {
  background-color: #9e3628;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.651) 0px 5px 15px;
}
.nav2 {
  justify-content: center;
  padding-top: 120px;
}
.navbar-brand {
  font-weight: bold;
}
#leftmenu {
  padding-left: 4%;
}
.card {
margin-top: 70px;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(187, 187, 187, 0.692),
    0 4px 8px rgba(214, 214, 214, 0.514);
  cursor: pointer;
}
.card1:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(187, 187, 187, 0.692),
    0 4px 8px rgba(214, 214, 214, 0.514);
  cursor: pointer;
}
.profilepic{
  width: 100px;
  height: 100px;
  display: flex;
  margin-left: 20%;
  /* justify-content: center;
  vertical-align: middle; */
}
.line{
  height: 1px;
  background-color: gray;
}
.imgBox{
    width: 100%;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    /* border-radius: 60px; */
  }
.innerrow {
  justify-content: space-around;
}
#moviecontainer {
  margin-top: 100px;
}
.input-group {
  width: 80%;
}
.img-fluid {
  background-color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
.sortbtn {
  width: 100%;
  height: 40px;
  border-color: transparent;
  background-color: transparent;
  font-size: 15px;
}
.sortbtn:hover {
  width: 100%;
  height: 40px;
  background-color: #d91f21;
  border-color: transparent;
}
.sortbtn:focus {
  width: 100%;
  height: 40px;
  background-color: #d91f21;
  border-color: transparent;
}
.button {
  font-family: 'Spartan', sans-serif;
  background-color: #c90101 ; 
  border: none;
  color: white;
  border-radius: 50px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  /* margin: 4px 2px; */
  cursor: pointer;
}
.button:hover {
  background-color: rgb(153, 16, 16);
  /* background-color:  rgb(97, 11, 11);  */
}
.deleteicon:hover{
  color: white;
  cursor: pointer;
  float:right
}
.deleteicon{
  margin-top: 70px;
  color: gray;
  float:right
}
.bg{
  /* width: 50vw; */
  min-height: 100vh;
  background-color: #18191d;
}
.foot{
height: 100px;
width: 100%;
margin-top: 22px;

}
</style>