<template>
  <div class="container-fluid ">
    <div id="circle"></div>
    <div class="red"></div>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark">
      <i class="material-icons" style="color:white">local_movies</i>
      <a class="navbar-brand" style="margin-left:5px" href="#">MOVI</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  row" id="navbarNavDropdown">
        <ul class="navbar-nav col-lg-8 col-md-8 col-sm-12 ">
          <li class="nav-item" style="margin-left:5%">
            <a class="nav-link" href="/movies">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/recommend">Recommendation </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/help">Q&amp;A</a>
          </li>
        </ul>
        <ul class="navbar-nav col-lg-4 col-md-4 col-sm-12 justify-content-center" style="padding-left:2%">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <img :src="`${formData.img}`" class="img-fluid" alt="Responsive image">
              {{formData.userName}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/account">Account</a>
              <a class="dropdown-item" href="/playlist">My Playlist</a>
              <a class="dropdown-item" href="/likelist">Liked Movies</a>
              <a class="dropdown-item" @click="logout()" href="#">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div class="row innercontainer" >

      <div class=" head row">
        <p style="color:white; font-size:40px; font-weight:bold; z-index:5">MY PLAYLIST</p>
        <button type="button" class="btn btn-danger addnewButton" data-toggle="modal"
          data-target="#CreatePlaylistModal">
          <i class="material-icons middle">add</i> New Playlist
        </button>
      </div>
    
      <div v-if="playlists.length != 0 " class="row innerrow col-12 justify-content-start" >
        <div class="col-lg-3 col-md-6 col-sm-6" v-for="playlist in playlists" :key="playlist._id">
          <router-link :to="`/playlistdetail/${playlist._id}`">
            <div class="card">
              <img class="card-img-top" v-bind:src="playlist.img" alt="Card image cap" />
              <div class="card-body">
                <h3 class="card-text" style="font-size: 20px;">{{playlist.name}}</h3>
              </div>
            </div>
          </router-link>
        </div>
      </div>

      <div v-else-if="playlists.length == 0" class="center bg ">
        <p class="text-center center" style="color: aliceblue; margin-top:50px">You haven't added any movies to your
          list yet.</p>
      </div>
    </div>




    <!-- Modal -->
    <div class="modal fade" id="CreatePlaylistModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle" style="font-weight:bold">Create New Playlist</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="inputcontainer">
                <label style="float:left">Playlist Name</label>
                <input type="text" class="form-control" placeholder="Playlist Name" v-model="newplaylist.name" required>
              </div>
              <div class="inputcontainer">
                <label style="float:left">Description</label>
                <textarea class="form-control" rows="4" type="text" placeholder="Add some description"
                  v-model="newplaylist.desc"></textarea>
              </div>
              <button class="btn btn-danger my-2 my-sm-0" type="submit" @click="Createplaylist()">
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>

    </div>
    <!-- Modal Confirm-->
    <div class="modal fade" id="delPlaylistModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle" style="font-weight:bold">Delete Playlist</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure to delete this playlist?</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-danger my-2 my-sm-0" type="submit" @click="delPlaylist()">
              Delete
            </button>
          </div>
        </div>
      </div>

    </div>


    <div class=" foot"></div>

  </div>
</template>



<script>
import firebase from "firebase";
import axios from "axios";
export default {
  name: "Playlist",
  data() {
    return {
      newplaylist: {
         name: "",
         desc: "",
      },
        formData: {
          _id: '',
          userName: '',
          email: '',
          password: '',
          firstName: '',
          lastName: '',
          gender: '',
          dob: '',
          phone: '',
          img: '',
        },
        playlists:'',
        isLoading:true
    };
  }, 
  async created(){
      var user = firebase.auth().currentUser;

        if (user) {
            console.log(user)
        } else {
            this.$router.replace('/signin')
        }
        await axios.get('https://movi--api.herokuapp.com/account/getbyemail/'+user.email)
         .then((response)=>{
             console.log(response.data)
             this.formData = response.data 
             if (this.formData.userName == "") this.formData.userName = this.formData.firstName
             if (this.formData.img == null || this.formData.img == "") this.formData.img = 'https://cdn.discordapp.com/attachments/701032411290402826/842702184079425536/empty-profile-picture-png-2-2.png'
             // Get all playlist
        axios.get('https://movi--api.herokuapp.com/playlist/getall?aid='+this.formData._id)
         .then((response)=>{
           this.playlists = []
           console.log(response.data)
             if(response.data != 0){
                this.playlists  = response.data
             }
             else {
               this.playlists = []
             } 
             this.isLoading = false
         })
         .catch((error)=>{
             console.log(error) 
         })  
             
         })
         .catch((error)=>{
             console.log(error) // should have table name of msg Error
         })
  },
 

  methods: {
    Createplaylist(){
      if(this.newplaylist.name==''){
        alert("Please Enter Playlist Name.") 
        return
      }
        var newPlaylist = {
        name: this.newplaylist.name,
        desc: this.newplaylist.desc
      }
           axios.post(' https://movi--api.herokuapp.com/playlist/create?aid=' + this.formData._id ,newPlaylist)
            .then(()=>{
                this.status = 'Create playlist successfully'
                alert(this.status)  
             })
            .catch((error)=>{
                console.log(error) // should have table name of msg Error
            })
      },
      delPlaylist(){
        axios.delete('https://movi--api.herokuapp.com/playlist?aid='+this.formData._id+'&pid='+this.playlist_id)
         .then((response)=>{
           console.log(response.message)
           this.$router.replace("/playlist");
           
         })
         .catch((error)=>{
             console.log(error) // should have table name of msg Error
         })
    },
     reload(){
        window.location.reload()
      },
      logout() {
      console.log("logout");
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.$router.replace("/signin");
        })
        .catch((error) => {
          alert(error.message);
        });
    }     
 }
    

};
</script>

<style scoped>
.inputcontainer{
margin-bottom: 20px;
}
.red{
  position:absolute;
  background-color: #9e3628;
  height: 50px;
  width: 100px;
  margin-left: 10%;
}
.foot{
height: 100px;
width: 100%;
margin-top: 30px;

}

h3:hover{
  text-decoration: none;
}
.innercontainer{
  margin-inline: 8%;
 
}
.container-fluid {
  background-color: #18191d;
  padding-left: 0;
}

.navbar {
  background-color: #9e3628;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.651) 0px 5px 15px;
}

.navbar-brand{
  font-weight: bold;
}

.img-fluid {
  background-color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.card {
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-top: 15%;
  background-color: rgb(94, 94, 94);
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(187, 187, 187, 0.692),
    0 4px 8px rgba(214, 214, 214, 0.514);
  cursor: pointer;
}

.innerrow {
 
margin-left: 0;
}

#moviecontainer {
  padding-right: 0;
}
.input-group {
  width: 80%;
}

#circle {
  position: absolute;
  width: 120%;
  height: 280px; /* as the half of the width */
  background-color: #9e3628;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%; /* 100px of height + 10px of border */
  border-bottom-right-radius: 50%; /* 100px of height + 10px of border */
  margin-left: -45%;
  margin-top: -80px;
}
.sortbtn {
  width: 100%;
  height: 40px;
  border-color: transparent;
  background-color: transparent;

  font-size: 15px;
}
.sortbtn:hover {
  width: 100%;
  height: 40px;
  background-color: #d91f21;
  border-color: transparent;
}
.sortbtn:focus {
  width: 100%;
  height: 40px;
  background-color: #d91f21;
  border-color: transparent;
}
.btn-group-vertical {
  width: 100%;
}
.middle {
  vertical-align: middle;
}

.head{
 justify-content: space-between;
  margin: 0%;
  width: 100%;
  padding-top:120px;

}
.addnewButton{
width: 170px;
 height: 50px;
 z-index: 1;
}
.bg{
  /* width: 50vw; */
  height: 632px;
  background-color: #18191d;
}
</style>
