<template>
  <div class="container-fluid wrapper">
    <nav class="navbar navbar-expand-md fixed-top navbar-dark ">
      <i class="material-icons" style="">local_movies</i>
      <a class="navbar-brand" style="margin-left:5px" href="#">MOVI</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse row " id="navbarNavDropdown">
        <ul class="navbar-nav col ">
          <li class="nav-item ml-auto">
            <a class="nav-link" href="/signin">Log In
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/signup">Sign Up</a>
          </li>
        </ul>
        <ul class="navbar-nav">
        </ul>
      </div>
    </nav>
    <div class="innerbackgroung">
      <h2>LOG IN</h2>
      <div>
        <input type="email" v-model="formData.email" class="form-control" placeholder="email" />
        <br />
        <input type="password" v-model="formData.password" class="form-control" placeholder="password" />
        <a class="btn signin" @click="signIn"> Log In </a>
        <div style="margin-bottom: 15px; margin-top: 15px; color:gray">
          ----------------------------------- or -----------------------------------
        </div>
        <div>
          <a href="#" class="google btn" @click="signInGoogle()">
            <i class="fa fa-google fa-fw"></i> Login with Google+
          </a>
          <a href="#" class="fb btn" @click="signInFacebook()">
            <i class="fa fa-facebook fa-fw"></i> Login with Facebook
          </a>
        </div>
        <div style="margin-top: 20px; margin-bottom: 10px">
          Don't have any account? | <a class="signuplink" href="/signup">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import firebase from "firebase";
import axios from "axios";

export default {
  name: "SignIn",
  data() {
    return {
      formData: {
        email: "",
        password: "",
      },
      Data: {
        email: "",
        firstName: "",
        lastName: "",
        phone: "",
        img: "",
  
      },
    };
  },
  methods: {
    signIn() {
      firebase
        .auth()
        .signInWithEmailAndPassword(this.formData.email, this.formData.password)
        .then((user) => {
          this.$router.replace("/movies");
        })
        .catch((e) => {
          alert(e.message);
        });
    },
    signInGoogle() {
      var provider = new firebase.auth.GoogleAuthProvider();
      // firebase.auth().signInWithRedirect(provider).then((result) =>  {
      firebase
        .auth()
        .signInWithPopup(provider)
        .then((result) => {
          // This gives you a Google Access Token. You can use it to access the Google API.
          var token = result.credential.accessToken;
          // The signed-in user info.
          var user = result.user;
          console.log(user);

          let fullName = user.displayName.split(" ");
          this.Data.firstName = fullName[0];
          this.Data.lastName = fullName[1];
          this.Data.email = user.email;
          this.Data.phone = user.phoneNumber;
          this.Data.img = user.photoURL;

          //check already have account ?
          axios
            .get("https://movi--api.herokuapp.com/account/getbyemail/" + this.Data.email)
            .then((response) => {
              console.log(response.data);
              if (response.data == null) {
                this.addtoAPI();
              }
            })
            .catch((error) => {
              console.log(error); // should have table name of msg Error
            });
          this.$router.replace("/movies");
        })
        .catch(function (error) {
          // Handle Errors here.
          var errorCode = error.code;
          var errorMessage = error.message;
          // The email of the user's account used.
          var email = error.email;
          // The firebase.auth.AuthCredential type that was used.
          var credential = error.credential;
          // ...
        });
    },
    signInFacebook() {
      var provider = new firebase.auth.FacebookAuthProvider();
      // firebase.auth().signInWithRedirect(provider).then((result) =>  {
      firebase
        .auth()
        .signInWithPopup(provider)
        .then((result) => {
          // This gives you a Google Access Token. You can use it to access the Google API.
          var token = result.credential.accessToken;
          // The signed-in user info.
          var user = result.user;
          console.log(user);

          let fullName = user.displayName.split(" ");
          this.Data.firstName = fullName[0];
          this.Data.lastName = fullName[1];
          this.Data.email = user.email;
          this.Data.phone = user.phoneNumber;
          this.Data.img = user.photoURL;

          //check already have account ?
          axios
            .get("https://movi--api.herokuapp.com/account/getbyemail/" + this.Data.email)
            .then((response) => {
              console.log(response.data);
              if (response.data == null) {
                this.addtoAPI();
              }
            })
            .catch((error) => {
              console.log(error); // should have table name of msg Error
            });
            this.$router.replace(
  { name: 'MovieDetail' },
  () => {
    this.$router.go(0);
  }
);
          //this.$router.replace("/movies");
        })
        .catch(function (error) {
          // Handle Errors here.
          var errorCode = error.code;
          var errorMessage = error.message;
          // The email of the user's account used.
          var email = error.email;
          // The firebase.auth.AuthCredential type that was used.
          var credential = error.credential;
          // ...
        });
    },
    addtoAPI() {
      let newAccount = {
        email: this.Data.email,
        firstName: this.Data.firstName,
        lastName: this.Data.lastName,
        phone: this.Data.phone,
        img: this.Data.img,
      };
      axios
        .post("https://movi--api.herokuapp.com/account/create", newAccount)
        .then((response) => {
          console.log(response.data);
        })
        .catch((error) => {
          console.log(error); // should have table name of msg Error
        });
    },
  },
  created() {},
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.innerbackgroung {
  padding-inline: 40px;
  height: 500px;
  width: 450px;
  border-radius: 3%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgb(0, 0, 0) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.486) 0px 12px 13px,
    rgba(0, 0, 0, 0.473) 0px -3px 5px;
  background-color: #2c2c2c;
}
.container-fluid {
  height: 100vh;
}
h2 {
  margin-top: 35px;
  margin-bottom: 5px;
  color: white;
  font-weight: bold;
  text-align: left;
}

.signin {
  background-color: #dd4b39;
  color: white;
  width: 30% !important;
  margin-top: 20px !important;
}
.fb {
  background-color: #3b5998;
  color: white;
}
.google {
  background-color: #dd4b39;
  color: white;
}
.signuplink {
  color: #f7614d;
  opacity: 1;
}
input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
}

.btn {
  width: 60%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
}

input:hover,
.btn:hover {
  opacity: 1;
}

.wrapper {
  animation: scroll 100s linear infinite;
  background: url("https://cdn.discordapp.com/attachments/701032411290402826/842485796811702352/coUQtBy.jpg"),
    #111111;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  background-size: 100%;
}

@keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 200s linear infinite;
  }
}

@media (min-width: 670px) {
  .title {
    font-size: 5rem;
  }
}
.navbar {
  background-color: #9e3628;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.651) 0px 5px 15px;
}
.navbar-brand{
  font-weight: bold;
}
</style>

