<template>
  <div class="container-fluid wrapper">
    <nav class="navbar navbar-expand-md fixed-top navbar-dark ">
      <i class="material-icons" style="">local_movies</i>
      <a class="navbar-brand" style="margin-left:5px" href="#">
        MOVI</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse row " id="navbarNavDropdown">
        <ul class="navbar-nav col ">
          <li class="nav-item ml-auto">
            <a class="nav-link" href="/signin">Log In
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/signup">Sign Up</a>
          </li>
        </ul>
        <ul class="navbar-nav">
        </ul>
      </div>
    </nav>
    <div class="innerbackgroung ">
      <h2>SIGN UP</h2>
      <input type="text" class="form-control inputfill" placeholder="Username" v-model="formData.userName" required>
      <input type="email" class="form-control inputfill" placeholder="Email" v-model="formData.email" required>
      <input type="text" class="form-control inputfill" placeholder="Firstname" v-model="formData.firstName" required>
      <input type="text" class="form-control inputfill" placeholder="Lastname" v-model="formData.lastName" required>
      <div class="row">
        <input class="form-control" type="date" id="date-input" v-model="formData.dob" required>
        <div class="dropdown input-group-prepend" id="gender" required>
          <button class="btn btn-secondary dropdown-toggle" style="background-color: #dd4b39;" type="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
            {{formData.gender}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" @click="chooseGeder('Female')">Female</a>
            <a class="dropdown-item" @click="chooseGeder('Male')">Male</a>
          </div>
        </div>
      </div>
      <br>
      <input type="password" class="form-control inputfill" placeholder="Password" v-model="formData.password" required>
      <input type="password" class="form-control inputfill" placeholder="Confirm Password"
        v-model="formData.confirmpassword" required>
      <button class="btn btn-success signup" @click="signUp()">Sign Up</button>
      <br>
      <br>
      Already have an account? | <a class="signuplink" href="/signin">Log In</a>
    </div>
  </div>

</template>


<script>
import firebase from 'firebase'
import axios from 'axios'

export default {
  name: "SignUp",
  data() {
    return {
      formData: {
        userName : "",
        email: "",
        password: "",
        firstName: "",
        lastName: "",
        gender: "Gender",
        dob: "",
        phone: "",
        confirmpassword: "",
      },
      errorMessgae: "",
      succeessMessage: "",
    };
  },
  created(){
    window.onpopstate = function () {
    location.reload()
    }
  },
  methods: {
    signUp() {
      if(this.formData.userName==""||this.formData.firstName==""||this.formData.lastName==""||this.formData.gender==""||this.formData.dob==""||this.formData.password==""){
          alert("Please complete the form")
          return
      }else if(this.formData.password!=this.formData.confirmpassword){
        alert("Password and Confirm Password not match!")
        return
      }
      
      firebase
        .auth()
        .createUserWithEmailAndPassword(
          this.formData.email,
          this.formData.password
        )
        .then((user) => {
          this.addToAPI();
          this.$router.replace("/movies");
          this.successMessage = "Success";
        })
        .catch((error) => {
          alert(error.message);
          this.errorMessage = error.message;
        });
    },
    chooseGeder(gender){
      this.formData.gender = gender
    },
    addToAPI() {
      let newAccount = {
        userName : this.formData.userName,
        email: this.formData.email,
        password: this.formData.password,
        firstName: this.formData.firstName,
        lastName: this.formData.lastName,
        gender: this.formData.gender,
        dob: this.formData.dob,
        phone: this.formData.phone,
      };
      axios
        .post("https://movi--api.herokuapp.com/account/create", newAccount)
        .then((response) => {
          console.log(response.data);
          this.$router.replace("/signin");
        })
        .catch((error) => {
          console.log(error); // should have table name of msg Error
        });
    },
  },
};
</script>

<style scoped>
.navbar {
  background-color: #9e3628;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.651) 0px 5px 15px;
}
.navbar-brand {
  font-weight: bold;
}
.innerbackgroung {
  padding-inline: 40px;
  height: 630px;
  width: 450px;
  border-radius: 3%;
  margin-top: 3%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgb(0, 0, 0) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.486) 0px 12px 13px,
    rgba(0, 0, 0, 0.473) 0px -3px 5px;
  background-color: #2c2c2c;
}
.container-fluid {
  height: 100vh;
}
h2 {
  margin-top: 35px;
  margin-bottom: 5px;
  color: white;
  font-weight: bold;
  text-align: left;
}

.signup {
  background-color: #dd4b39;
  color: white;
  width: 30% !important;
  margin-top: 20px !important;
  height: 45px;
}

.fb {
  background-color: #3b5998;
  color: white;
}
.google {
  background-color: #dd4b39;
  color: white;
}
.signuplink {
  color: #dd4b39;
  opacity: 1;
}
.inputfill {
  width: 100%;
  height: 45px;
 
  opacity: 0.85;
  font-size: 17px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.row{
  padding-inline: 14px;
  justify-content:space-between;
}
.btn {
  width: 100%;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
}

input:hover,
.btn:hover {
  opacity: 1;
}

.wrapper {
  animation: scroll 100s linear infinite;
  background: url("https://cdn.discordapp.com/attachments/701032411290402826/842485796811702352/coUQtBy.jpg"),
    #111111;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  background-size: 100%;
}
#date-input {
  width: 48%;
  height: 45px;
  opacity: 0.85;
  margin-top: 5px;
  margin-bottom: 5px;
}
#gender {
  width: 48%;
  
}
@keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 200s linear infinite;
  }
}

@media (min-width: 670px) {
  .title {
    font-size: 5rem;
  }
}
</style>
